.productos{
    min-height: 100vh;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
    position: relative;
}
.productos-contenedor{
    width: 100%;
    display: inherit;
    max-width: 1200px;
    justify-content: inherit;
    margin: 0 auto;
    
}

.productos-title {
    
    display: inline;
    margin: auto;

}

.productos-title h1{
    margin-bottom: 60px;
    font-size: 40px;
    color: #009aff;
    display: inline-flex;

}

.productos h1{
    border-top:5px solid #009aff;
}

.grid-productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.items img{
    
    height: 300px;
    border: 1px solid black;
    
}
.items {

    margin: auto;
    
}

@media (max-width: 957px){
    .grid-productos {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 640px){
    .grid-productos {
        grid-template-columns: 1fr;
    }
}